@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.header{
    display: flex;
    height: 100px;
    width: 88.3%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
}
.contant_header{
    margin: auto 0;
}
a{
   padding-right: 30px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-decoration: none;
color: white;
}
.right_header img{
    width: 34px;
    height: 34px;
    padding-right: 24px;
}
.right_header{
    display: flex;
    align-items: center;
}
