body{
    background: #39B645;
    margin: 0px;
    padding:0px;
}
.page{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 1px white;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
}
.main-container{
    display: flex;
    width: 88.3%;
    height: auto;
    justify-content: space-between;
}
footer{
    margin-top: auto;
}