.BlockFooter {
	width: 100%;
	height: 40vh;
	background-color: #3dbd4a;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.BlockLogo {
	width: 14%;
	height: 25vh;
	text-align: end;
}
.BlockInfo {
	width: 40%;
	height: 25vh;
}
.BlockInfo p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	padding: 5px 0px 5px 0px;
	color: #ffffff;
}

.NumberLink {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 10px 0px;
	width: 20%;
	height: 20vh;
}
.numberPhone {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	gap: 10px;
}
.number {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
.gmail {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	right: 80px;
	top: 40px;
	gap: 30px;
}
.socialNetworkImg {
	display: flex;
	justify-content: space-between;
	width: 10%;
	height: 6vh;
	gap: 20px;
}
@media (width: 360px) {
	.BlockFooter {
		width: 99vw;
		height: 50vh;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.BlockLogo {
		width: 90vw;
		height: 26vh;
		display: flex;
		align-items: center;
	}
	.BlockLogo img {
		width: 50px;
		height: 50px;
	}
	.BlockInfo {
		width: 90vw;
		height: 30vh;
	}
	.BlockInfo p {
		font-size: 12px;
		line-height: 10px;
	}
	.NumberLink {
		width: 90vw;
		height: 26vh;
		flex-direction: column;
	}
	.numberPhone {
		width: 90vw;
			flex-direction: row;
	}
	.numberPhone a {
		font-size: 10px;
		padding-left: 40px;
	}
	.socialNetworkImg {
		display: flex;
		justify-content: space-evenly;
		width: 80vw;
	}
	.gmail {
		font-size: 14px;
		line-height: 24px;
		padding: 10px 10px 10px 10px;
		position: relative;
		left: 1px;
	}
}
@media (width: 800px) {
	.NumberLink{
		flex-direction: column;
	}
	.BlockFooter {
		display: flex;
		justify-content: space-around;
	}
	.numberPhone{
		font-size: 16px;
		line-height: 10px;
		position: relative;
		left: 20px;
		width: 300px;
	}
	.socialNetworkImg{
		position: relative;
		left: 15px;
		gap: 20px;
	}
	.gmail{
		position: relative;
		top: 90px;
		right: 140px;
	}
}