.modal_window {
	width: 80vw;
	height: 76vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.modal_window img {
	width: 40%;
	height: 70vh;
}
.modal_right {
	width: 40%;
	height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.modal_right h1 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}
.modal_right p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
}
