.mainCar{
    width: auto;
    height: 100vh;
    background-image: url(../../../Assets//png/signs.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #3dbd4a;


    display: flex;
    justify-content: center;
    align-items: center;
}

