.mainCar {
	width: 100%;
	height: 90vh;
	background-image: url(../../../Assets//png/signs.png);
    background-size: 100%;
    background-size: contain;

	background-repeat: no-repeat;

	background-color: #3dbd4a;

	display: flex;
	justify-content: space-around;
    align-items: center;
}

.banner{
    width: 45%;
    height: 60vh;
}
.bannerCar{
    width: 45%;
    height: 60vh;
}
.banner img {
    width: 100%;
}
.bannerCar img {
	width: 100%;
}
